<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SongDrop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C57BCEF2F56ABFB0046971C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C57BCFC2F56ABFC0046971C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C57BD062F56ABFC0046971C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
